<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/general.css">
    <title>Decision Table</title>
</head>
<body class = body>
    <div class = "maincontainer">
        <div>
        <h4>Please Choose an Option</h4>
        
        {%block content%}
        
        {% endblock %}
        
        </div>
        <div>
            <button class = "button" type = "submit">Submit</button>
        </div>
    </div>
</body>
</html>