<!-- when you choose how often it occurs-->
{% extends 'base.html' %}

<!-- this it the first choice from root to gen announcements or teambased-->
{%block content%}
<select required style = "display: flex; justify-content: center; align-items: center; margin-top: 3rem; margin-left: 9.3rem; height: 2rem;">
    <option> </option>
    <option value = "day">daily</option>
    <option value = "day">weekly</option>
    <option value = "day">monthly</option>
    <option value = "day">annually</option>
</select>
{%endblock%}