<!-- this is when you choose the time in the branches-->
{% extends 'base.html' %}

<!-- this it the first choice from root to gen announcements or teambased-->
{%block content%}
<select required style = "display: flex; justify-content: center; align-items: center; margin-top: 3rem; margin-left: 9.3rem; height: 2rem;">
    <option> </option>
    <option value = "<10min"><10min</option>
    <option value = "<30min"><30min</option>
    <option value = "<1hr"><1hr</option>
    <option value = "<2hr"><2hr</option>
</select>
{%endblock%}