*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c4c4c4;
}

.body{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c7c7c7;
    border: 1px solid black;
    height: 15rem
}
